<style type="text/css">	
	.articles{
		list-style: none;
	}
	.articles ul li{
		list-style: none;
		font-size: 24px;
		line-height: 200%;
	}
	.art{
		color: #f04545;
		font-size: 15px;
	}
</style>
<body background="/3.jpg">
<div class="container">
<div class="row">
	<div class="col-md-8">
		<h1 style="color: white;"><u>All Articles</u></h1>
	</div>
	<div class="col-md-1">
		<h1><%= link_to "Tags", tags_path, class: "btn btn-primary" %></h1>
	</div>
	<div class="col-md-2">
		<h1><%= link_to "Create New Article", new_article_path, class: "btn btn-primary" %></h1>
	</div>
</div>
<div class="articles">
<ul>
	<% @articles.each do |article| %>
	<li>
		<div class="jumbotron" style="background-color: rgba(0,0,0,0.4)">
		<h2><%= link_to article.title, article_path(article) %></h2>
		<p style="color: white;line-height: 100%;"><%=h truncate(article.body, :length=>230) %>&nbsp;<%= link_to "see more", article_path(article), :class=>"art" %></p>
		</div>
	</li>
	<% end %>
</ul>
<h3 align="right"><%= will_paginate @articles %></h3>
</div>
</div>
</body>