<!DOCTYPE html>
<html>
<head>
  <title>Blogger</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div id="content">
      <h6>
        <% if logged_in? %>
          <p style="color: white;"><%= "Logged in as #{current_user.email}" %></p>
          <%= link_to "(logout)", logout_path %>
        <% else %>
          <%= link_to "(login)", login_path %>
        <% end %>
      </h6>
       <%= yield %>
    </div>
  </div>
</body>
</html>
